@{
  ViewData["Title"] = "ResetPassword";
  Layout = "_Authlayout";
}
@model PizzaShop.ViewModels.ResetPasswordViewModel;
<div class="col-md-9 justify-content-center">
  <div class="row mb-5">
    <div class="d-flex align-items-center justify-content-center p-0">
      <img src="~/images/logos/pizzashop_logo.png" alt="pizzashop_logo" id="pizzashop_logo" />
      <h1 class="text-primary">PIZZASHOP</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <h5 class="text-center">Reset Your Password</h5>
    <form asp-controller="Authentication" asp-action="ResetPassword" id="loginForm" method="post">
      <input type="hidden" asp-for="Token">
      <div class="form-input-div my-3">
        <input type="password" placeholder="New Password*" class="form-control p-2 " name="NewPassword"
          id="PasswordReset1" asp-for="NewPassword" />
        <span class="form-input-icon"><i class="fa-solid fa-eye" id="resetPassEyeBtn1" style="color: gray"></i>
        </span>
      </div>
      <span class="text-danger" asp-validation-for="NewPassword"></span>
      <div class="form-input-div my-3">
        <input type="password" placeholder="Confirm New Password*" class="form-control p-2" name="ConfirmNewPassword"
          id="PasswordReset2" asp-for="ConfirmNewPassword" />
        <span class="form-input-icon"><i class="fa-solid fa-eye" id="resetPassEyeBtn2" style="color: gray"></i>
        </span>
      </div>
      <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
      <div class="my-3">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
      <div class="text-center"><a href="/">Back to login</a></div>
      @* <input type="hidden" asp-for="Token" value="@TempData["Token"]"/> *@
    </form>
    <p>@Html.ValidationMessage("error")</p>
    <p class="text-danger">@TempData["ErrorMessage"]</p>
  </div>
</div>