@{
    ViewData["Title"] = "ChangePassword";
    var query = Context.Request.Query["OrderApp"];
    Layout = query == "true" ? "_OrderAppLayout" : "_Layout";
}
@model PizzaShop.ViewModels.ChangePasswordViewModel;

<section>
    <div class="content-bg p-3">
        <!-- Add User header -->
        <div class="row align-items-center d-flex flex-wrap ">
            <h1 class="fs-2 col-md-4 text-primary font-weight-bold">Change Password</h1>
        </div>
        <!-- Form -->
        <div class="container-fluid p-3 mt-5">
            <div class="row">
                <div class="col-0 col-md-1"></div>
                    <p>Enter a New Password to update your account credentials</p>
                <div class="col-12 col-md-8 col-lg-4">
                    <span class="text-success">@ViewData["ChangePassword"]</span>
                    <form asp-controller="Profile" asp-action="ChangePassword" asp-route-OrderApp="@query" method="post" id="ChangePasswordForm">
                        <div class="row">
                            <div class="form-input-div mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="addUserPassword"
                                        placeholder="Current Password" name="CurrentPassword"
                                        asp-for="CurrentPassword" />
                                    <label for="CurrentPassword">Current Password*</label>
                                </div>
                                <span class="form-input-icon me-3"><i class="fa-solid fa-eye" id="addUserEyeBtn"
                                        style="color: gray"></i>
                                </span>
                                <span class="text-danger ms-2"
                                    asp-validation-for="CurrentPassword">@ViewData["WrongPassword"]</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-input-div mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="PasswordReset1"
                                        placeholder="New Password" name="NewPassword" asp-for="NewPassword" />
                                    <label for="NewPassword">New Password*</label>
                                </div>
                                <span class="form-input-icon me-3"><i class="fa-solid fa-eye" id="resetPassEyeBtn1"
                                        style="color: gray"></i>
                                </span>
                                <span class="text-danger ms-2" asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-input-div mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="PasswordReset2"
                                        placeholder="ConfirmNewPassword" name="ConfirmNewPassword"
                                        asp-for="ConfirmNewPassword" />
                                    <label for="ConfirmNewPassword">Confirm New Password*</label>
                                </div>
                                <span class="form-input-icon me-3"><i class="fa-solid fa-eye" id="resetPassEyeBtn2"
                                        style="color: gray"></i>
                                </span>
                                <span class="text-danger ms-2" asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                        <div>
                            <div class="mt-2 d-flex ">
                                <button class="btn btn-primary me-3" type="submit">
                                    Submit
                                </button>
                                <button class="btn btn-outline-primary" type="button" id="Cancel"
                                    onclick="location.href='@Url.Action("Dashboard", "Dashboard")'">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>